* {
	box-sizing: border-box;
}

body {
	margin: 0px auto;
	width: 80%;
}

body>* {
	margin: 0px auto;
	padding: 10px;
}

/*header styling*/

header {
	background-color: black;
	color: white;
	/*clearfix*/
	overflow: hidden;

	border-bottom: 5px solid yellow;

}

header h1 {
	font-family: serif;
	color: yellow;

}

ul {
	float: right;
	list-style-type: none;
	background-color: black;
}

li {
	text-decoration: none;
	font-family: sans-serif;
	float: left;
	margin: 10px;
}

a {
	text-decoration: none;
}

li a {
	color: white;
}

/* gray bar styling*/

#brains {
	clear: both;
	background-color: #d9d9d9;
	text-align: center;
}

#strike {
	color: #808080;
	text-decoration: line-through;
}

#underline {
	border-bottom: 2px solid yellow;
}

/*image section*/
.image {
	background-image: url("images/coworking.jpg");
	background-size: cover;
	margin: 0px;
	height: 400px;
	padding: 15px;
}

aside {
	background-color: rgba(255, 255, 255, .7);
	width: 40%;
	height: 90%;
	float: right;
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 1px 1px #808080;
}

aside h4, aside p {
	font-family: sans-serif;
}

h4 {
	font-size: 1.3em;
}
/*white section styling*/
#white {
	margin: 10px auto;
	overflow: hidden;
}

h3 {
	font-family: serif;
	font-size: 1.5em;
}

h3+p {
	font-family: sans-serif;
}

.border {
	border-right: 1px solid #d9d9d9;
}

.text {
	float: left;
	width: 33.3%;
	padding: 10px;

}

/*buttons*/
a.button {
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 600;
	color: black;
}

.button {
	display: block;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	margin: auto;
}

aside .button {
	background-color: yellow;
	box-shadow: 0 2px 0 #cccc00;
	position: absolute;
	bottom: 10%;
	left: 25%;
}

#white .button {
	background-color: #d9d9d9;
	box-shadow: 0 2px 0  #a6a6a6;
}

/*footer*/
footer {
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 0.8em;
	clear: both;
}













